.hero-container {
    background-image: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.6)
        ),
        url('../images/back3.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    max-height: 100%;
    padding: 0 3rem;
    margin-bottom: 40px;
    width: 100%;
    color: #000;
    line-height: 1.5;
}

h1 {
    width: 950px;
    padding: 0rem 8rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}
h4 {
    margin-top: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)
    );
    padding-top: 0rem;
    text-align: center;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 850px;
}

.donate {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #9b2335;
    color: white;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.donate:hover {
    background-color: #6b1824;
    transition: 0.3s ease;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 828px) {
    h1 {
        width: 600px;
        padding: 0rem 8rem;
        text-align: center;
        border-bottom: white;
        font-size: 30px;
        margin-bottom: 1rem;
    }
    h4 {
        margin-top: 1rem;
        background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)
        );
        padding-top: 0rem;
        text-align: center;
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 10px;
        width: auto;
        font-size: 18px;
    }

    .donate {
        margin-top: 2rem;
        padding: 1rem 2rem;
        background-color: #9b2335;
        color: white;
        border-radius: 20px;
        transition: 0.3s ease;
        cursor: pointer;
    }

    .donate:hover {
        background-color: #6b1824;
        transition: 0.3s ease;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }
}
